# Ignore generated dart doc
doc/api/**        linguist-generated=true
doc/** linguist-documentation
doc/** linguist-vendored

# Ignore web boilerplate in example
example/web/** linguist-documentation

# If you accidentally committed build files
build/** linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
web/* linguist-vendored
doc/* linguist-vendored